<div>
  <div class="header">
   <nav class="header-top">
      <img src="../assets/github logo.jpg" alt="github logo.jpg" class="logo">
      <div class="search-bar">
       <input type="text" class="header-input">
       <!-- <input type="text" class="header-input"> -->
       <!-- <input type="text" class="header-input"> -->
  
       <div class="search-bar-icon">
       </div>
  
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Repositories</a>
            </li>
    
          </ul>
  
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="https://www.facebook.com/" class="nav-link" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://twitter.com/" class="nav-link" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/Nameyray/" class="nav-link border border-light rounded"
                target="_blank">
                <i class="fab fa-github mr-2"></i>GitHub
              </a>
            </li>
          </ul>
      </div>          
     
   
    </nav>
   
  </div>
  <nav class="header-bottom">

  </nav>
  </div>  