<div class="row" *ngIf="isForm">
  <form name="gitForm" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-12">
        <input type="text" class="form-control input-lg mb15 user-input" id="username" name="Username" autocomplete="off" placeholder="GitHub Username" 
        [(ngModel)]="user" #userInput="ngModel">
        <button type="submit" class="btn btn success btn- lg btn-block">Search GitHub User</button>
      </div>
    </div>
  </form>
  
</div>
<div class="container bg-dark"  *ngIf="isUser">
  <div class="col-6">Name: {{user}} </div>
  <!-- <img src="{{user.avatar_url}}"> -->
  <div class="col-6">Number of Repositories: {{public_repos}}</div>
  <div class="row">
    <div class="col-md-1">
      <div class="col-md-4" *ngFor='let repoDetail of repoDetails'>
        <h3>{{repoDetail['name']}}</h3>
       <p class="bio"></p>
       <p class="stat">Date Joined:  <strong>{{repoDetail['created_at']}}</strong></p>
       <p class="stat">Last Update:  <strong>{{repoDetail['updated_at']}}</strong></p>
       <p class="stat">Number of Repos: <strong>{{repoDetail['public_repos']}}</strong></p>
       <p class="stat"><i class="fa fa-github-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<a href="" target="_blank">View Github Profile</a></p>
      </div>
    </div>
  </div>
</div>
