
/* .btn-lg {
  padding: 12px 20px;
  font-size: 18px;
} */
.btn{
  height: 8vh;
  width: 250px;
}
.input-lg {
  font-size: 12px;
  padding: 10px;
}
.mb15 {
	margin-bottom:5px;
  margin-top: 25px;
}

.mt100 {
	margin-top:100px;
}
.form-control{
  height: 10vh;
  width: 600px;
  margin-left: 150px;
}