<div>
  <div class="header">
   <nav class="header-top">
      <img src="../assets/github logo.jpg" alt="github logo.jpg" class="logo">
     
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav d-flex justify-content-between" >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="list-style: none;text-decoration: none;" >Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Repositories</a>
            </li>
            
            <li class="nav-item">
              <a href="https://github.com/Nameyray/" class="nav-link border border-light rounded"
                target="_blank">
                <i class="fab fa-github mr-5"></i>GitHub
              </a>
            </li>
          </ul>
      </div>          
     
   
    </nav>
   
  </div>
  <nav class="header-bottom">
   <app-form-search></app-form-search>
  </nav>
  </div>  